                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                      </ul>
                      <ul class="nav navbar-nav navbar-right" data-ng-controller="bookingCtrl">
                          <li><a href="#/view1"><i class="fa fa-dot-circle-o brand icon-separated" ></i>{{'Header.StartPage' | translate}}</a></li>
                          <li><a href="#/booking"><i class="fa fa-dot-circle-o brand icon-separated"></i>{{'Header.Booking' | translate}} </a></li>
                          <li><a href="#/schedule"><i class="fa fa-dot-circle-o brand icon-separated"></i>{{'Header.Schedule' | translate}} </a></li>
                      </ul>
                  </div>