<!-- Modal -->
<!--<div class="modal modal-wide modal-height" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scheduling">-->
        <div class="modal-content modal-scheduling-font modal-minimum-width">
            <div class="modal-header modal-header-scheduling">
                <button type="button" class="close" data-ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Swap performances</h4>
            </div>
            <div class="modal-body modal-body-scheduling modal-body-height">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-scheduling-modal">
                            <label for="inputAudName" class="control-label">Site:</label>
                            <input type="text" class="form-control" id="Text4" placeholder="Alpharetta site">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-scheduling-modal">
                            <label for="input6" class="control-label">Select date:</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 no-padding-left">
                    <div class="col-sm-12 no-padding-left no-padding-right">



                        <div class="form-group form-group-scheduling-modal">
                            <label for="inputAudName" class="control-label">Auditorium:</label>
                            <input type="text" class="form-control" id="Text5" placeholder="Auditorium 1">
                        </div>

                    </div>

                    <div class="col-sm-12 schedule-list no-padding-left">
                        <div class="list-results">
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">2D</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">RoboCop (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">2D</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling  scheduling-list-selected">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span><span class="widgets-performances-list">IMAX</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span><span class="widgets-performances-list">IMAX</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 no-padding-right">
                    <div class="col-sm-12 no-padding-right no-padding-left">

                        <div class="form-group form-group-scheduling-modal">
                            <label for="inputAudName" class="control-label">Auditorium:</label>
                            <input type="text" class="form-control" id="Text6" placeholder="Auditorium 2">
                        </div>
                    </div>
                    <div class="col-sm-12 schedule-list no-padding-left">

                        <div class="feature-results">
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling scheduling-list-selected">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class="title">RoboCop (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span><span class="widgets-performances-list">IMAX</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span><span class="widgets-performances-list">IMAX</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">3D</span><span class="widgets-performances-list">IMAX</span>
                                    </div>

                                </div>
                            </div>
                            <div class="flat-list margin-flat-list-scheduling ">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class="title">Grand Budapest Hotel (2014)</p>
                                        <p class="description">Feb 12, 2014 &middot; 21:00 - 22:40</p>
                                        <span class="widgets-performances-list">IMAX</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <p><a href="">Select all</a></p>
                <button type="button" class="btn btn-primary">Swap</button>
                <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>

            </div>
        </div>
    <!--</div>
</div>-->