<!-- Modal preview pricing-->
<div class="modal-content modal-scheduling-font modal-minimum-width">
    <div class="modal-header modal-header-scheduling">
        <button type="button" class="close" data-ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">Pricing for this performance</h4>
    </div>
    <div class="modal-body modal-body-scheduling modal-body-height">
        <div class="col-sm-12 no-padding-left no-padding-right">
            <div class="table-responsive">
                <table class="table table-striped pricing-table-responsive table-total-prices">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Adult</th>
                            <th>Child</th>
                            <th>Senior</th>
                            <th>Military</th>
                            <th>Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>$ 6.50</td>
                            <td>$ 6.50</td>
                            <td>$ 6.50</td>
                            <td>$ 6.50</td>
                            <td>$ 6.50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped pricing-table-responsive table-day-part-prices">
            <thead>
            </thead>
            <tbody>

                <tr>
                    <td class="relative">Evening<div class="controls-table-rows-headers">
                        <div class="controls-table-rows-headers-inner margin-right-edit-icon"><i class="fa fa-pencil"></i></div>
                    </div>
                    </td>
                    <td>$ 5.00</td>
                    <td>$ 5.00</td>
                    <td>$ 5.00</td>
                    <td>$ 5.00</td>
                    <td>$ 5.00</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped pricing-table-responsive table-font-normal table-modifier">
            <thead>
            </thead>
            <tbody>

                <tr>
                    <td class="relative">
                        <div class="logo-tags">
                            <img alt="" class="img-responsive image-width-tags" src="img/experiences/imax.png"></div>
                        <div class="controls-table-rows-headers">
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-info-circle"></i></div>
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-times-circle"></i></div>
                        </div>
                        <div class="popover-pricing-preview-info font-weight-normal-label">
                            <div class="popover-head">Modifier info</div>
                            <div class="popover-content">
                                <div>
                                    <span class="category-table-modifiers">Feat</span>Dolby modifier
                                </div>
                                <div class="modifier-description-pricing-preview">
                                    A technique of widescreen cinematography which produces an image approximately ten times larger...
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>$ 1.00<span class="arrow-up-modifier icon-separated-left"><i class="fa fa-caret-up"></i></span></td>
                    <td>$ 1.00<span class="arrow-up-modifier icon-separated-left"><i class="fa fa-caret-up"></i></span></td>
                    <td>$ 1.00<span class="arrow-up-modifier icon-separated-left"><i class="fa fa-caret-up"></i></span></td>
                    <td>$ 1.00<span class="arrow-up-modifier icon-separated-left"><i class="fa fa-caret-up"></i></span></td>
                    <td>$ 1.00<span class="arrow-up-modifier icon-separated-left"><i class="fa fa-caret-up"></i></span></td>
                </tr>
                <tr>
                    <td class="relative">
                        <div class="logo-tags">
                            <img alt="" class="img-responsive image-width-tags" src="img/experiences/dbox.png"></div>
                        <div class="controls-table-rows-headers">
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-info-circle"></i></div>
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-times-circle"></i></div>
                        </div>
                    </td>
                    <td>$ 1.00<span class="arrow-down-modifier icon-separated-left"><i class="fa fa-caret-down"></i></span></td>
                    <td>$ 1.00<span class="arrow-down-modifier icon-separated-left"><i class="fa fa-caret-down"></i></span></td>
                    <td>$ 1.00<span class="arrow-down-modifier icon-separated-left"><i class="fa fa-caret-down"></i></span></td>
                    <td>$ 1.00<span class="arrow-down-modifier icon-separated-left"><i class="fa fa-caret-down"></i></span></td>
                    <td>$ 1.00<span class="arrow-down-modifier icon-separated-left"><i class="fa fa-caret-down"></i></span></td>
                </tr>
                <tr>
                    <td class="relative">
                        <div class="logo-tags">
                            <img alt="" class="img-responsive image-width-tags" src="img/experiences/imax.png"></div>
                        <div class="controls-table-rows-headers">
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-info-circle"></i></div>
                            <div class="controls-table-rows-headers-inner"><i class="fa fa-times-circle"></i></div>
                        </div>
                    </td>
                    <td>$ 1.00<span class="arrow-exchange-modifier icon-separated-left"><i class="fa fa-caret-left"></i></span></td>
                    <td>$ 1.00<span class="arrow-exchange-modifier icon-separated-left"><i class="fa fa-caret-left"></i></span></td>
                    <td>$ 1.00<span class="arrow-exchange-modifier icon-separated-left"><i class="fa fa-caret-left"></i></span></td>
                    <td>$ 1.00<span class="arrow-exchange-modifier icon-separated-left"><i class="fa fa-caret-left"></i></span></td>
                    <td>$ 1.00<span class="arrow-exchange-modifier icon-separated-left"><i class="fa fa-caret-left"></i></span></td>
                </tr>

            </tbody>
        </table>
        <p class="view-all-experiences"><a ><i class="fa fa-plus-circle icon-separated"></i>Add new modifier </a></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
    </div>
</div>